# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://yizqsmkfvlnwmgodxgqm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key

# Sanity CMS (Fase V1)
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=
SANITY_API_TOKEN=

# Optional
NEXT_PUBLIC_VERCEL_URL=
